<!-- <h1>Salesmen#index</h1>
<p>Find me in app/views/salesmen/index.html.erb</p> -->
<div class="logo_sales"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<!-- <div class="saleshl"><h1>sales team<h1></div> -->
			<div class="wo_wrap">
				<div class="wo_left">
					<div class="wo_head"></div>
					<div class="wo_bkg"></div>
					<div class="wo_create_l">
					<%= form_for @workorder do |f| %>   
						<%=f.label "Company" %>   
						<%=f.text_field :name, class: 'co_name' %> <br><br>
						<%=f.label "Description of shipment" %> 
						<br>
						<%=f.text_area(:description, cols: 68, rows: 7)%>  <br><br>

						<!-- This needs to call the current sales rep -->
						<%=f.hidden_field :salesman_id, :value => 1%>

						Port of origin
						<%= f.select :origin_port_manager_id, ports_select_option, {include_blank: true}%>
						Destination
						<%= f.select :destination_port_manager_id, ports_select_option,  {include_blank: true}%>
						<br><br>
					
												<!-- This will call the partial for the line item table -->
							<table>
							
							<tr>
						    <td width="20">Line</td>
						    <td width="30">Number of Containers</td> 
						    <td width="160">Items Shipped</td>
						    <td width="160">Container Type</td>
						  </tr>


						 <% (1..5).each do |i| %>
						    <%= f.fields_for :containers do |y| %>

						 

						  <tr>
						    <td><%= i %></td>
						  
						    <td>
								
						    	
						    	<%= y.text_field :quantity %>
						    </td> 
						    

						    <td><%= y.select :cargo_type, cargo_type_name,  {include_blank: true} %></td>
						    <td><%= y.select :weight, cargo_weight,  {include_blank: true} %></td>
						  </tr>
						  <br>
						  <%end%>
						  <%end%>
						  
						</table>


									

								<!-- this loop is nested inside of the form and will give the different categories that an article may fall into. -->



								<br>	
								<%=f.submit :create, class: 'wo_submit' %> 
								<% end %>
					</div>
				</div>
				<div class="wo_right">
					<div class="wo_create_r">
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/sales_main.mp4">
        			</video>
	</div>
</div>
