	<div class="wrapper">
		<div class="sales_lo">
			<!-- <div class="saleshl"><h1>sales team<h1></div> -->
			<div class="wo_show_wrap">
				<div class="wo_show_left">
					<div class="wo_head"></div>
					<!-- <div class="wo_show_bkg"> -->
					<div class="wo_edit_body">
						<%= form_for @workorder do |f| %>    
						<h1>#<%=@workorder.id %></h1> <br>
						Owner: <%=@workorder.name %> <br><br>
						Description of Shippment: <%=@workorder.description %>
						 <br><br>

						 Containers in work order:  <%=@qty %>
						 <br><br>

				

						Place Order on a boat to ship: <br>
						<%= f.select :boat_id, boat_select_option, {include_blank: true}%>
						<br><br><br>

						This order was scheduled for <strong><%=location(@workorder.destination_port_manager_id)%></strong><br>


						Was this order delivered to <strong><%=location(@workorder.destination_port_manager_id)%></strong>?

						<%= f.select :complete, [
	      ['No', false],
	      ['Yes, delivered for customer pickup.', true],
		],  {include_blank: true}%>
						<br>
					
								<!-- This will call the partial for the line item table -->
							


									

								<!-- this loop is nested inside of the form and will give the different categories that an article may fall into. -->	
								
						</div>
					<!-- </div> -->
<!-- 					this needs to be swapped out with a turbolink code
					<div class="woshow_savebutt"> </div> -->
							<div class="update_wo_butt">
								<%=f.submit :update, class: 'wo_submit' %>
								<% end %>
							</div>
					
					<div class="wo_show">
						
					</div>
				</div>
				<div class="wo_show_right">
					<div class="wo_show_owo">
						space for link to open work order
					</div>	
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/wo_main.mp4">
        			</video>
	</div>
</div>