<h1>WorkOrders#index</h1>
<p>Find me in app/views/work_orders/index.html.erb</p>

View for port manager



<br><br>
<% @WorkOrders.each do |x| %> 

<%=link_to x.id, work_order_path(x.id)%> <%=x.name%> <%=x.origin_port_manager_id%> <%=x.destination_port_manager_id%> <%=link_to x.description, work_order_path(x.id)%><br>

<%end%>

<br><br><br><br><br><br><br><br>


View for sales manager