<!-- <h1>WorkOrders#show</h1>
<p>Find me in app/views/work_orders/show.html.erb</p> -->

<div class="logo_sales"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<div class="wo_show_wrap">
				<div class="wo_show_left">
					<div class="wo_head"></div>
					<!-- <div class="wo_show_bkg"></div> -->
					<div class="wo_detail">
						Owner:
						<%=@workorder.name%>
						<br><br>

						Containers: 
						<%=@workorder.container_count%>
						<br><br>

						Destination: 
						<%=@workorder.destination_port_manager_id%>
						<br><br>

						Containers: 
						<%=@workorder.container_count%>
						<br>
						<br>
						<br>
						Containers being shipped on order:<br><br>

						<% @container.each do |w|%> 
						<%= w.id%>    
						<%if w.weight == 1%>
						Standard
						<%else%>
						Freezer
						<%end%>
						<br>


						<%end%>
					</div>
					<!-- this needs to be swapped out with a turbolink code -->
					<div class="woshow_editbutt">
						<%=link_to "Edit", edit_work_order_path(@workorder.id)%>
						

					</div>
					<div class="wo_show">
						
					</div>

				</div>
				<div class="wo_show_right">
					<div class="wo_show_owo">
						space for link to open work order
					</div>	
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/wo_main.mp4">
        			</video>
	</div>
</div>

