
<h1>Boats#index</h1>
<p>Find me in app/views/boats/index.html.erb</p>



boat id/ name/ at_sea/ destination/ container limti

<% @boats.each do |x| %> 

<%=link_to x.id, boat_path(x.id)%> <%=x.name%> 




<%=x.destination_port_manager_id%> <%=x.container_limit%><br>

<%end%>




<!-- <h1>All the Boats:</h1> -->

<div class="logo_port"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<div class="wo_show_wrap">
				<div class="bo_ind_left">
					<div class="bo_inport_head"></div>
						<div class="boat_show_ip">
							<%= @currentPortManager.id %> <%= @currentPortManager.location %>


							<br>
							<% @boats.each do |x| %> 
							<%if @currentPortManager.id == x.destination_port_manager_id && x.at_sea == false %> 

							<%=link_to x.name, boat_path(x.id)%> is in bound with a capacity of 




							<%=x.container_limit%> containers.<br>
							<%else%>

							<%end%>
							<%end%>
						</div>	
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
				</div>
				<div class="bo_ind_right">
				<div class="bo_as_head"></div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>	
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/boats_main.mp4">
        			</video>
	</div>
</div>


