
<div class="logo_in_pm"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<div class="wo_show_wrap">
				<div class="bo_show_left">
					<div class="bo_detail_head"></div>
					<div class="boat_detail_ip">
					<!-- boat id/ name/ at_sea/ destination/ container limit -->
					<h1>#<%= @boat.id%> <%= @boat.name%></h1> <%=link_to "Update Vessel", edit_boat_path(@boat.id)%> <br><br>


					Capacity: <%= @boat.container_limit%> containers<br>
						<br>
						Current containers loaded: <br><br>

						Current location:
						<%if @boat.at_sea = true%>
						At sea, destined for <%=location(@boat.id)%>.
						<%end%>
						<%if @boat.at_sea = false%>
						At port in <%=location(@boat.id)%>.
						<%end%>


					<br>

					<% @workorder.each do |x| %> 

					<!-- This will loop the whole div for any ship that is due in (destination set and at sea) -->
						<% Container.where(work_order_id: x).each do |z| %> 
						<%=link_to  z.id, container_path(x.id)%>, 
						<%if z.cargo_type == 1%>
						Standard
						<%else%>
						Freezer
						<%end%>, <%=WorkOrder.find_by_id(x.id).name%>  <%=PortManager.find_by_id(WorkOrder.find_by_id(x.id).id).location%>

						<br>


							

					<%end%>
					<%end%>	
					</div>
				</div>
				<div class="bo_detail_right">
					<div class="bo_inport_head"></div> 
						<% @boats.each do |x| %>
							<!-- This will loop the whole div for any ship that is due in (destination set and at sea) -->
								<% if @currentPortManager %>
								    <%if @currentPortManager.id == x.destination_port_manager_id && x.at_sea == false %> 
									    <div class="boat_show_ip">
									    <%=link_to x.name, boat_path(x.id), :class => 'bo_name' %> with
									    <%=x.container_limit%> containers.
									    </div>
								    <%end%>
								<% end %>
							<%end%>	
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/boats_main.mp4">
        			</video>
	</div>
</div>

