<!DOCTYPE html>
<html>
<head>
  <title>KKRShipping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- allows flash messaging -->

		<% if flash[:notice] -%>
  				<div class="flashMessage"><p><%= flash[:notice] %><p></div>
				<% end %>
				<% if flash[:alert] -%>
  				<div class="flashMessage"><p><%= flash[:alert] %><p></div>
		<% end %>
		<% if @currentSalesman %>
		<div class="logo_in_sm"></div>
		<div class="navmenu_sm">
			<div id="menu_l"><%= link_to("MAIN", salesmen_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("VESSELS", boats_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("WORK ORDERS", work_orders_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("NEW WORK ORDER", salesmen_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("CONTAINERS", containers_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("FOLLOW A VESSEL", boat_follow_path, method: :get) %></div>

		</div>
		<% end %>
		<% if @currentPortManager %>
		<div class="logo_in_pm"></div>
		<div class="navmenu_pm">
			<div id="menu_l"><%= link_to("MAIN", port_managers_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("VESSELS", boats_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("CONSTRUCT A SHIP", new_boat_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("WORK ORDERS", work_orders_path, method: :get) %></div>
			<div id="menu_l"><%= link_to("CONTAINERS", containers_path, method: :get) %></div>
		</div>
		<% end %>

		<div class="navmenu_lio">
		<% if @currentPortManager || @currentSalesman %>
			<%= link_to("Log Out", '/logout') %>
		<% else %>
			<%= link_to("Log In", '/login') %>
		<% end %>
		</div>
<%= yield %>

</body>
</html>
