<!DOCTYPE html>
<html>
<head>
  <title>KKRShipping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- allows flash messaging -->
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>

	<!-- links for the navigation bar -->
	<nav>
		<ul>
			<li><a href="/port_managers">Port Managers</a></li>
			<li><a href="/salesmen">Salesmen</a></li>
			<li><a href="/boats">Vessels</a></li>
			<% if @currentPortManager %>
			<li><a href="/boats/new">Construct A Ship</a></li>
			<% end %>
			<li><a href="/work_orders">Work Orders</a></li>
			<% if @currentSalesman %>
			<li><a href="/work_orders/new">New Work Order</a></li>
			<% end %>
			<li><a href="/containers">Containers</a></li>
			<li><a href="/login">Log In</a></li>
			<li><a href="/logout">Log Out</a></li>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
