<!DOCTYPE html>
<html>
<head>
  <title>KKRShipping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- allows flash messaging -->

		<% if flash[:notice] -%>
  				<div class="flashMessage"><p><%= flash[:notice] %><p></div>
				<% end %>
				<% if flash[:alert] -%>
  				<div class="flashMessage"><p><%= flash[:alert] %><p></div>
		<% end %>
		<% if @currentSalesman %>
		<div class="logo_in_sm"></div>
		<div class="navmenu_sm">
			<a href="/salesmen" id="menu_l">main</a>
			<a href="/boats" id="menu_l">Vessels</a>
			<a href="/work_orders" id="menu_l">Work Orders</a>
			<a href="/salesmen/" id="menu_l">New Work Order</a>
			<a href="/containers" id="menu_l">Containers</a>
			<a href="/boat_follow" id="menu_l">Follow A Vessel</a>

		</div>
		<% end %>
		<% if @currentPortManager %>
		<div class="logo_in_pm"></div>
		<div class="navmenu_pm">
			<a href="/port_managers" id="menu_l">main</a>
			<a href="/boats" id="menu_l">Vessels</a>
			<a href="/boats/new" id="menu_l">Construct A Ship</a>
			<a href="/work_orders" id="menu_l">Work Orders</a>
			<a href="/containers" id="menu_l">Containers</a>
		</div>
		<% end %>

		<div class="navmenu_lio">
		<% if @currentPortManager || @currentSalesman %>
			<%= link_to("Log Out", '/logout') %>
		<% else %>
			<%= link_to("Log In", '/login') %>
		<% end %>
		</div>
<%= yield %>

</body>
</html>
