<!DOCTYPE html>
<html>
<head>
  <title>KKRShipping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- allows flash messaging -->
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>

	<!-- links for the navigation bar -->
	<a href="/port_managers">Port Managers</a>
	<a href="/salesman">Salesmen</a>
	<a href="/boats">Vessels</a>
	<% if @currentPortManager %>
	<a href="/boats/new">Construct A Ship</a>
	<% end %>
	<a href="/work_orders">Work Orders</a>
	<%= if @currentSalesman %>
	<a href="/work_orders/new">New Work Order</a>
	<% end %>
	<a href="/containers">Containers</a>
	<a href="/login">Log In</a>
	<a href="/logout">Log Out</a>

<%= yield %>

</body>
</html>
